<%= stylesheet_link_tag "index.css" %>
<div id="picture_profile">
</div>
<h1 class="hello name">Hello Matis Bevilacqua</h1>
<h2 class="hello welcome">Welcome back !</h2>
<div id="profil_configure">
  <a href="#">Configurer mon profil</a>
</div>