@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');


*{
    margin: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

:root{
    --title: #A8E5BA;
    --bg: #ACD6DB;
    --sub: #B5BBCA;
}

.fa-solid{
    margin-right:1.5vw;
}

header{
    width: 100%;
    height: 8vh;
    background: #FFF;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    display: block;
    background: #F9FDFF;
    padding-bottom: 8vh;
}

#welcome{
    padding-left: 6vw;
    width: calc(100% - 6vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5vh;
}

#name{
    color: var(--title);
    font-weight: bold;
    margin-bottom: 2vh;
    font-size: 18px;
}

#pitch{
    color: #FFF;
    margin-bottom: 4vh;
    font-size:23px;
}

img{
    width: 50px;
}

#get_profil{
    width: 88vw;
    height: 50px;
    background:var(--bg);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

#pictures_profils{
    width: 70px;
    height: 70px;
    border-radius: 13px;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

#pictures_profils > img{
    width: 95%;
    height: 100%;
    border-radius: 13px;
}

#likes_profiles{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#likes_title{
    color: #0C3469;
    font-size: 23px;
    font-weight: 600;
    width: calc(100% - 6vw );
    padding-left: 6vw;
    margin-bottom: 5vh;
}

.users_profils{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 90vw;
    background: #F7F8FA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 8vh;
    color: #0C3469;
    border-top-right-radius: 15px;
}

.users_profils_top{
    width: 100%;
    height: 70%;
    display: flex;
}

.users_profils_img{
    width: 45%;
    height: 100%;
    border-top-left-radius: 15px;
}

.users_profils_img > img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
}

.users_profils_bottom{
    width: 100%;
    background: var(--bg);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.users_profils_bottom > a{
    padding-left: 4vw;
    color: #FFF;
    font-size: 18px;
}

.users_profils_contents{
    width: calc(64% - 4vw);
    background: #F7F8FA;
    border-top-right-radius: 15px;
    padding-left: 4vw;
    padding-top: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.days{
    color: var(--bg);
}

.days_work{
    font-size: 20px;
}

.locate{
    color: var(--sub);
    color: #B5BBCA;
    font-size: 15px;
}

.name{
    font-size: 23px;
}


ul{
    padding: 0;
    width: 60vw;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.on{
    color:#0C3469;
}

.off{
    color: #D9D9D9;
}


.users_profils_description{
    padding-top: 2vh;
    padding-bottom: 2vh;
    width: calc(100% - 4vw);
    padding-left: 2vw;
    padding-right: 2vw;
    background: #F7F8FA;
}

#img_bottom{
    width: 100%;
    height: 35vh;
    position: aboslute;
    z-index: 1;
    background: #88B2BA;
}
